* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-style: inherit;
    color: inherit;
}

.container {
    width: 1920px;
    max-width: calc(100% - 246px);
    margin: 0 auto;
}

.btn {
    --height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid #ff5a3c;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background: #ff5a3c;
    color: #ffffff;
}

.page-heading {
    font-weight: 700;
    font-style: Bold;
    font-size: 4.6rem;
    line-height: 56px;
    letter-spacing: -1.5%;
    text-align: center;
    text-transform: capitalize;
}

.page-subheading {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 30px;
    letter-spacing: -1%;
    text-align: center;
    color: #9eabb2;
}

.header {
}
.header__top {
    background: #071c1f;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.5px 20px;
}
.top__left {
    display: flex;
    align-items: center;
    gap: 38px;
}
.top__left-info {
    display: flex;
    gap: 3px;
}
.info__text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.social_logo {
    margin-left: 13px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%)
        hue-rotate(314deg) brightness(104%) contrast(100%);
}
.social_logo:hover {
    filter: brightness(0) saturate(100%) invert(68%) sepia(64%) saturate(6473%)
        hue-rotate(337deg) brightness(101%) contrast(101%);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    text-align: center;
}
.navbar__link,
.header-action__link {
    padding: 8px 22.5px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 0%;
    text-align: center;
    color: #233638;
}

.navbar__link:hover {
    position: relative;
    color: #ff5a3c;
}

.navbar__link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: #ff5a3c;
    border-radius: 2px;
}

.header-action__btn {
    --height: 53px;

    min-width: 130px;
}

.hero {
    margin-top: 27px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__heading {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 6.4rem;
    line-height: 74px;
    letter-spacing: -1.5%;
}
.hero__des {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 28px;
    letter-spacing: -1%;
}
.hero__content-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #ff5a3c;
    border-radius: 10px;
    gap: 8px;
    padding: 18px 30px;
    max-width: 280px;
    width: 210px;
    cursor: pointer;
}
.content__btn-text {
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: right;
    color: #ffffff;
}

.hero__img-wrap {
    position: relative;
    max-width: 867px;
    height: 704px;
}
.hero__decor {
    position: absolute;
    left: -194px;
    bottom: 300px;
}
.hero__profit {
    position: absolute;
    left: -48px;
    bottom: -39px;
    padding-left: 30px;
    padding-right: 99px;
    background: #ffffff;
    box-shadow: 10px 14px 59px 0px #00005c12;
    border-radius: 20px;
}
.profit__img {
    margin-top: 25px;
    margin-bottom: 25px;
}
.profit__number {
    margin-bottom: 5px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 100%;
    letter-spacing: -1.5%;
}
.profit__text {
    margin-bottom: 22px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5%;
    color: #9eabb2;
}

.hero__btn {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    right: 0;
    bottom: 0;
    background: #ff5a3c;
    border-top-left-radius: 10px;
    box-shadow: 8px 9px 24px 0px #00005c14;
    cursor: pointer;
}
.btn__text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -1%;
    color: #ffffff;
    margin-left: 21px;
}
.btn__img {
    margin-top: 18px;
}
.hero__switch {
    display: flex;
    position: relative;
    gap: 80px;
    padding-bottom: 33px;
}
.swich__house {
    display: flex;
}
.house {
    width: 88px;
    height: 60px;
    background: #000;
    opacity: 40%;
    transition: all 0.3s ease;
}
.house::before {
    content: "";
    position: absolute;
    bottom: 35%;
    left: 300px;
    width: 63px;
    height: 2px;
    background: #ebebeb;
    opacity: 40%;
}
.house::after {
    content: "";
    position: absolute;
    bottom: 35%;
    left: 300px;
    width: 23px;
    height: 2px;
    background: #071c1f;
    opacity: 40%;
}

.house:hover {
    width: 114px;
    height: 80px;
    margin-top: -20px; /* hoặc top: -20px nếu dùng position */
}
.house__text {
    margin-top: 4px;
    margin-left: 8px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #ffffff;
}
.hero__pages {
    display: flex;
    gap: 13px;
}
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -1%;
    opacity: 80%;
    color: #627193;
}

.page:hover {
    font-family: Poppins;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: -1%;
    color: #071c1f;
}

.guilde {
    margin: 120px 135px;
}
.guilde__inner {
}
.guilde__heading {
    margin: 0 auto;
    max-width: 567px;
}
.guilde__subheading {
    margin: 0 auto;
    max-width: 425px;
}
.guilde__option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 60px;
}

.guilde__option-wrap {
    opacity: 1;
    border-radius: 20px;
    border-width: 1px;
    background-color: #ffffff;
    transition: color 0.3s ease;
}

.guilde__option-wrap:hover {
    background-color: #ff5a3c;
}
.guilde__option-wrap:hover .option-thumbnail {
    background-color: #ff4229;
}
.guilde__option-wrap:hover .option__svg {
    color: #ffffff;
}

.guilde__option-wrap:hover .wrap__heading {
    color: #ffffff;
}

.guilde__option-wrap:hover .wrap__des {
    color: #fff;
}
.option-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: #f5dfdc;
    width: 90px;
    height: 90px;
    border-radius: 999px;
    opacity: 1;
    box-shadow: 0px 16px 45px -12px #3c50e00d;
}

.option__svg {
    color: #ff5a3c;
    transition: color 0.3s ease;
}
.wrap__heading {
    font-weight: 700;
    font-style: Bold;
    font-size: 2.6rem;
    line-height: 28px;
    letter-spacing: -0.5%;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}
.wrap__des {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
    margin-bottom: 53px;
    color: #899aa2;
    transition: color 0.3s ease;
}
.rating {
    margin: 120px 135px;
}
.rating__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 60px 0;
}

.rating__media {
    position: relative;
    width: 342px;
    height: 527px;
    margin-top: 60px;
    margin-right: 100px;
}

.rating__media-img {
    width: 342px;
    height: 527px;
    border-radius: 4px;
}

.rating__media-img--front {
    position: relative;
    background-color: #cccccc;
    z-index: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.rating__media-img--back {
    position: absolute;
    top: -55px;
    left: 95px;
    background-color: #cccccc;
    z-index: 1;
}

.rating__media-icon {
    position: absolute;
    top: -67px;
    right: -136px;
    z-index: 3;
    width: 90px;
    height: auto;
}

.rating__content {
    flex: 1;
    max-width: 500px;
}
.rating__heading {
    text-align: left;
}
.rating__subheading {
    text-align: left;
}
.rating__list {
    margin-top: 33px;
}
.rating__item {
    display: flex;
    text-align: left;
    align-items: start;
    gap: 15px;
    max-width: 400px;
}

.list__des-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 2.4rem;
    letter-spacing: -1%;
    color: #0e0e0e;
}

.list__des-explain {
    font-size: 1.6rem;
    line-height: 28px;
    letter-spacing: -1%;
    color: #899aa2;
    margin-top: 10px;
    margin-bottom: 30px;
}
